.section2{
    background-color: #fef5f5;
    padding:56px  0 ;
    width: 100%;
    margin-bottom: 25px;
}
.podcast-voice{
    height:45px ;
}
#hand-lock{
    margin-left: 16%;
    position: absolute;
    width: 20%;
}
#speaker2{
    margin-left: 25%;
    width: 14%;
}
#speaker1{
    margin-left: -34%;
    margin-top: 6%;
    position: absolute;
    width: 23%;
}
.delivery{
    width: 144px;
    height: 103px;
    left: 45%;
}
.card{
    min-height: 105%;
}
.plane{
    position: absolute;
    right: 0;
    width: 20%;
    z-index: 111;
}
.arrow{
    position: absolute;
    right: 4%;
    top: 170%;
    width: 8%
}
@media screen and (min-width:992px)
{
    .l-sec{
    position: absolute;
    left: 40%;
    top: 52%;
    }
}
@media screen and (max-width:991px) {
    .dowload-pic{
        width: 50px;
    }
}
@media screen and (max-width:990px) {
    .row .image-1 img{
        width: 60%;
        margin-bottom: 0%;
    }
}
#arrow-down{
    position: absolute;
    left: 38%;
    top: 90%;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}